 .main {
    padding-left: 20%;
    background-color: green;
}

.people {
    padding-left: 20%;
    background-color: goldenrod;
}

.prescList {
    padding-left: 20%;
    background-color: darkgray;
}

#header {
    padding-left: 20%;
}

.presc {
    padding-left: 3%;
}

button {
    border-radius: 15px;
    width: 95%;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    font-size: xx-large;
    background-color: white;
    box-shadow: 10px;
}