.main {
    padding-left: 20%;
    font-family: 'Noto Sans KR';
    /* background-color: green; */
}

.patient {
    padding-left: 20%;
    background-color: goldenrod;
}

.list {
    padding-left: 20%;
    background-color:blanchedalmond
}

#header {
    padding-left: 20%;
}

button {
    border-radius: 15px;
    width: 95%;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    font-size: xx-large;
    background-color: white;
    box-shadow: 10px;
}

.medicineBox {
    background-color: cornsilk;
    border-radius: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
    margin-right: 40px;
}